@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <MatButton type="submit" name="action" class="ml-md-auto" Link="login">LOG IN</MatButton>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
