#nummers td {

    width: 1%;
    height: 1%;
    text-align: center;
    font-weight: bold;
}

#nummers td:active{
    background-color: rgba(8, 158, 65,0.5);
    transform: translateY(3px);
}

.even{

    background-color: #3b3033;
}

.oneven{

    background-color: red;
}

#null{

    background-color: #22ba9e;
}

#nummers{

    background-color: #0e4f09;
}

.button{

    background-color: green;
    border-radius: 4px;
    border-color: #3b3033;
    outline-: 0 !important;


}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(2px);

}

#getallenopgegokt{
    max-width: 100%;
    height: 26px;
}

.gegokteGetalen td{

    background-color: #3b3033;
    text-align: center;
    font-weight: bold;
}